<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.galaxy.mapper.GlxTorrentAttachmentMapper">
    
    <resultMap type="GlxTorrentAttachment" id="GlxTorrentAttachmentResult">
        <result property="id"    column="id"    />
        <result property="infoHash"    column="info_hash"    />
        <result property="title"    column="title"    />
        <result property="fileName"    column="file_name"    />
        <result property="userId"    column="user_id"    />
        <result property="torrentId"    column="torrent_id"    />
        <result property="torrentSize"    column="torrent_size"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectGlxTorrentAttachmentVo">
        select id, info_hash, title, file_name, user_id, torrent_id, torrent_size, status, create_by, create_time, update_by, update_time, remark from glx_torrent_attachment
    </sql>

    <select id="selectGlxTorrentAttachmentList" parameterType="GlxTorrentAttachment" resultMap="GlxTorrentAttachmentResult">
        <include refid="selectGlxTorrentAttachmentVo"/>
        <where>  
            <if test="infoHash != null  and infoHash != ''"> and info_hash = #{infoHash}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="torrentId != null "> and torrent_id = #{torrentId}</if>
            <if test="torrentSize != null "> and torrent_size = #{torrentSize}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectGlxTorrentAttachmentById" parameterType="Long" resultMap="GlxTorrentAttachmentResult">
        <include refid="selectGlxTorrentAttachmentVo"/>
        where id = #{id}
    </select>

    <select id="selectGlxTorrentAttachmentByTorrentId" parameterType="Long" resultMap="GlxTorrentAttachmentResult">
        <include refid="selectGlxTorrentAttachmentVo"/>
        where torrent_id = #{id}
    </select>

    <select id="selectGlxTorrentAttachmentByInfoHash" parameterType="String" resultMap="GlxTorrentAttachmentResult">
        <include refid="selectGlxTorrentAttachmentVo"/>
        where info_hash = #{infoHash}
    </select>
        
    <insert id="insertGlxTorrentAttachment" parameterType="GlxTorrentAttachment" useGeneratedKeys="true" keyProperty="id">
        insert into glx_torrent_attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="infoHash != null">info_hash,</if>
            <if test="title != null">title,</if>
            <if test="fileName != null">file_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="torrentId != null">torrent_id,</if>
            <if test="torrentSize != null">torrent_size,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="infoHash != null">#{infoHash},</if>
            <if test="title != null">#{title},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="torrentId != null">#{torrentId},</if>
            <if test="torrentSize != null">#{torrentSize},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGlxTorrentAttachment" parameterType="GlxTorrentAttachment">
        update glx_torrent_attachment
        <trim prefix="SET" suffixOverrides=",">
            <if test="infoHash != null">info_hash = #{infoHash},</if>
            <if test="title != null">title = #{title},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="torrentId != null">torrent_id = #{torrentId},</if>
            <if test="torrentSize != null">torrent_size = #{torrentSize},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateGlxTorrentAttachmentTransmission" parameterType="GlxTorrentAttachment">
        update glx_torrent_attachment
        <trim prefix="SET" suffixOverrides=",">
            <if test="uploaded > 0">uploaded = uploaded + #{uploaded},</if>
            <if test="downloaded > 0">downloaded = downloaded + #{downloaded},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGlxTorrentAttachmentById" parameterType="Long">
        delete from glx_torrent_attachment where id = #{id}
    </delete>

    <delete id="deleteGlxTorrentAttachmentByTorrentId" parameterType="Long">
        delete from glx_torrent_attachment where torrent_id = #{torrentId}
    </delete>

    <delete id="deleteGlxTorrentAttachmentByIds" parameterType="String">
        delete from glx_torrent_attachment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>