<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.galaxy.mapper.GlxTorrentTagsMapper">
    
    <resultMap type="GlxTorrentTags" id="GlxTorrentTagsResult">
        <result property="id"    column="id"    />
        <result property="torrentId"    column="torrent_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="tag"    column="tag"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectGlxTorrentTagsVo">
        select id, torrent_id, category_id, tag, status, create_by, create_time, update_by, update_time, remark from glx_torrent_tags
    </sql>

    <select id="selectGlxTorrentTagsList" parameterType="GlxTorrentTags" resultMap="GlxTorrentTagsResult">
        <include refid="selectGlxTorrentTagsVo"/>
        <where>  
            <if test="torrentId != null "> and torrent_id = #{torrentId}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="tag != null  and tag != ''"> and tag like concat('%', #{tag}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectGlxTorrentTagsById" parameterType="Long" resultMap="GlxTorrentTagsResult">
        <include refid="selectGlxTorrentTagsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGlxTorrentTags" parameterType="GlxTorrentTags">
        insert into glx_torrent_tags
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="torrentId != null">torrent_id,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="tag != null and tag != ''">tag,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="torrentId != null">#{torrentId},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="tag != null and tag != ''">#{tag},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGlxTorrentTags" parameterType="GlxTorrentTags">
        update glx_torrent_tags
        <trim prefix="SET" suffixOverrides=",">
            <if test="torrentId != null">torrent_id = #{torrentId},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="tag != null and tag != ''">tag = #{tag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGlxTorrentTagsById" parameterType="Long">
        delete from glx_torrent_tags where id = #{id}
    </delete>

    <delete id="deleteGlxTorrentTagsByTorrentId" parameterType="Long">
        delete from glx_torrent_tags where torrent_id = #{id}
    </delete>

    <delete id="deleteGlxTorrentTagsByIds" parameterType="String">
        delete from glx_torrent_tags where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>